{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "attribute-text", sans-serif !important;
    text-align: center; 
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.content {
    text-align: center;
}
.content h1 {
    font-family: "attribute-text", sans-serif !important;
    font-weight: 700;
    font-size: 90px;
    color: #fff;
    margin-bottom: 20px;
}


.content p {
    font-family: "attribute-text", sans-serif !important;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    padding: 15px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
}

.background-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.top-nav {
    display: flex;
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.top-nav ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    padding: 0;
}

.top-nav li {
    font-weight: 400;
    font-size: 17px;
    color: rgb(81, 49, 49);
    cursor: pointer;
    padding: 1px 5px;
    transition: 0.3s;
}

.top-nav li:hover {
    color: rgb(198, 168, 228);
}

.parallax {
    background: url('img/photo-1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
}


.text-container {
    max-width: 800px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.5); 
    padding: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px
    backdrop-filter: blur(10px);
}

.text-container img {
    width: 150px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
    margin-right: 30px
}

.text-container p {
    font-weight: 400;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

media (min-aspect-ratio: 16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

media (max-aspect-ratio: 16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}